<template name="donate">
<div class="jumbotron">
    <div class="container intro">
        <h1>  
</h1>
        <p><strong>SPLASSH is headquartered at <a href="https://www.kennesaw.edu">Kennesaw State University</a> in Georgia. <br> <br/>All donations are handled through the KSU Foundation and are tax deductible. <br> <br/>If interested in helping support SPLASSH, please contact <a href="mailto:ladams@kennesaw.edu?Subject=Donation">Lisa Adams</a>  ladams@kennesaw.edu<br> <br/>  Thanks from the SPLASSH team!
        <!--We invite you to participate by clicking here &#8594; <a class="map" href='/map'>map</a--></strong></p>
        <br/>
        </div>
</div>
</template>
