<template name="addProjectModal">
    	<!-- Add Water Project Modal -->
      <div class="modal fade" id="addWaterProjectModal" tabindex="-1" role="dialog" aria-labelledby="addWaterProjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="addWaterModalLabel"> Add a New Water Project</h3>
            </div>
            <div class="modal-body">
              <form role="form" class="form-addwaterproject">
                <input id="project-title" type="text" autofocus="" required placeholder="water project name" class="form-control input-lg"><br/>
    <input id="project-waterbody" type="text" required placeholder="body of water name" class="form-control input-lg"><br/>
                <textarea id="project-description" required placeholder="description" class="form-control input-lg"></textarea><br/>
							{{>loadBodies}}
                {{> loadTags}}
				<div class="input-group">
					  <span class="input-group-btn">
						<button id="map-button" class="btn btn-default btn-lg" data-toggle="tooltip" title="Click to choose location on the map" type="button"><span class="glyphicon glyphicon-globe"></span></button>
                	</span>
		            <input id="project-coordinates" type="text" class="form-control input-lg" required placeholder="Latitude, Longitude (e.g. 34.1, 84.5)">
					<span class="input-group-btn">
		            	<button id="geolocate-button" class="btn btn-default btn-lg" data-toggle="tooltip" title="Click to use current location." type="button"><span class="glyphicon glyphicon-map-marker"> </span></button>
					</span>

                </div><!-- /input-group --><br/>
                <div class="well imageDropArea">
            			<p>Cover Photo {{clearCover}}</p>
            			<input type="file" multiple class="images">
        		    </div>
                <div class="well attachmentDropArea">
                  <p>Attachments</p>
                  <input type="file" multiple name="attachments">
                </div>
	
                <button type="submit" class="btn btn-default btn-lg btn-block">submit</button>
              </form>
            </div>
          </div>
        </div>
      </div> <!-- addWaterProjectModal -->
</template>

<template name="loadTags">
  <select id="project-category" class="form-control input-lg" placeholder="Select tag">
  <option value="Select Tag">Select Tag</option>
  {{#each tags}}
    <option value="{{name}}">{{name}}</option>
  {{/each}}
  </select><br/>
</template>

<template name="loadBodies">
  <select id="project-water" class="form-control input-lg" placeholder="Select tag">
  <option value="Select Tag">Select body of water</option>
  {{#each bodies}}
    <option value="{{name}}">{{name}}</option>
  {{/each}}
  </select><br/>
</template>
