<template name="sponsors">
  <div id="sponsors">
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Our Sponsors<br/><small>Thank you for your support</small></h1>
      </div>
</div>
<div class="row">
      <div class="col-md-4">
        <a href="http://www.ysi.com" class="thumbnail">
          <img src="https://s3.amazonaws.com/salim.meteor.com/site/YSI_Xylem_black.jpg" class="img-responsive" alt="YSI" width="200px">
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://kennesaw.edu" class="thumbnail">
          <img src="https://s3.amazonaws.com/salim.meteor.com/site/ksu-logo.gif" class="img-responsive" alt="Kennesaw State University">
        </a>
      </div>
<div class="col-md-4">
<a class="thumbnail" href="http://secoora.org/">
<img class="img-responsive" alt="Secoora" src="https://s3.amazonaws.com/salim.meteor.com/site/secoora-logo.png">
</a>
</div>
      </div> <!-- /row-->
    </div> <!-- /container -->
  </div><!-- /sponsors -->
</template>
