<template name="inthenews">
		<div class="news">
  	     <div class="container">
  			     <a name="news"></a>
    			<h2>In the <b>NEWS</b> <small>The latest water news from around the world</small></h2>
    	<div class="row">
            <div class="col-md-6 news-item">				
              <img src="waterreforms.jpg" alt="...">
          	  <div class="news-metadata">
  				<h4>Four African nations agree to improve use of key water resource under UN-backed plan</h4>
  				<div class="date text-muted">Sept 24, 2013</div>
  			  </div>
			</div>
            <div class="col-md-6 news-item">				
              	<img src="michelleobama.jpg" alt="...">
          		<div class="news-metadata">
  				<h4>Michelle Obama Wants You To Drink More Water</h4>
  				<div class="date text-muted">Sept 12, 2013</div>
  				</div>
			</div>
       	</div>
		<div class="row">
           <div class="col-md-6 news-item">				
              <img src="climatechange.jpg" alt="...">
          	  <div class="news-metadata">
  					<h4>Climate change will upset vital ocean chemical cycles, research shows</h4>
  					<div class="date text-muted">Sept 9, 2013</div>
				</div>
			</div>
            <div class="col-md-6 news-item">				
              <img src="radioactive_seafood.jpg" alt="...">
          	  	<div class="news-metadata">
  					<h4>Is our seafood radioactive, or is it safe to eat?</h4>
  					<div class="date text-muted">Sept 4, 2013</div>
				</div>
			</div>
       		</div>
  			</div>
  			</div>

</template>