<template name="dataEntry">
 
	{{> parameters}}  

</template>

<template name="insertSite">
  {{> quickForm collection="Datasets" id="insertSite" schema=Schemas.Site type="insert"}}
</template>
<template name="insertWeather">
  {{> quickForm collection="Datasets" id="insertWeather" schema=Schemas.Weather type="insert"}}
</template>
<template name="insertObservations">
  {{> quickForm collection="Datasets" id="insertObservations" schema=Schemas.Observations type="insert"}}
</template>
<template name="insertContaminants">
  {{> quickForm collection="Datasets" id="insertContaminants" schema=Schemas.Contaminants type="insert"}}
</template>
<template name="insertBiological">
  {{> quickForm collection="Datasets" id="insertBiological" schema=Schemas.Biological type="insert"}}
</template>
<template name="insertCustom">
  {{> quickForm collection="Datasets" id="insertCustom" schema=Schemas.Custom type="insert"}}
</template>
<template name="insertPhotos">
  {{> quickForm collection=images id="insertPhotos" schema=Schemas.Photos type="insert"}}
</template>

<template name="parameters">
<div class="container">
  <h2>Parameters</h2>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Site Information</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
		{{> insertSite}}
		</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Weather Conditions</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
		{{> insertWeather}}
		</div>
      </div>
    </div>
<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Observations</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
		{{> insertObservations}}
		</div>
      </div>
    </div>
<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Photos</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
		{{> insertPhotos}}
		</div>
      </div>
    </div>
<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Biological</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
		{{> insertBiological}}
		</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Custom</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
		{{> insertCustom}}
		</div>
      </div>
    </div>
  </div> 
</div>
</template>
