<template name="viewData">
	<div class="container">
		<h2>View Datasets</h2>
		{{#each allDatasets}}
			{{> siteInfo}}
		{{/each}}
	</div>
</template>

<template name="siteInfo">
	<div class="container">
		<h2>Site Info</h2>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<td>Group Name</td>
					<td>Name Of Body Of Water</td>
					<td>Project</td>
				  </tr>
			</thead>
			<tbody>
				<tr>
					<td>{{this.GroupName}}</td>
					<td>{{this.NameOfBodyOfWater}}</td>
					<td><a href="/project/{{this.projectId}}">{{projectName this.projectId}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
