<template name="viewData">
	<div class="container">
	<h2>View Datasets</h2>
		<div class="container">
			<div class="panel-group" id="accordion11">
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" data-parent="#accordion11" href="#collapse111"> Team Information</a>
					</h4>
				  </div>
				  <div id="collapse111" class="panel-collapse collapse">
					<div class="panel-body">
						{{#if teams.count}}
							{{#each teams.items}}
								{{> teamm}}
							{{/each}}
						{{else}}
							There is no team information.
						{{/if}}
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
					  <div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion11" href="#collapse112">Water Observations</a>
						</h4>
					  </div>
					  <div id="collapse112" class="panel-collapse collapse">
						<div class="panel-body">
							{{#if waters.count}}
								{{#each waters.items}}
									{{> water}}
								{{/each}}	
							{{else}}
								There are no water observations.
							{{/if}}
						</div>
					  </div>
					</div>
				<div class="panel panel-default">
					  <div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion11" href="#collapse113">Weather Conditions</a>
						</h4>
					  </div>
					  <div id="collapse113" class="panel-collapse collapse">
						<div class="panel-body">
							{{#if weathers.count}}
								{{#each weathers.items}}
									{{> weather}}
								{{/each}}
							{{else}}
								There are no weather conditions recorded.
							{{/if}}
					  </div>
					</div>
				  </div> 
					<div class="panel panel-default">
					  <div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion11" href="#collapse114">Chemicals</a>
						</h4>
					  </div>
					  <div id="collapse114" class="panel-collapse collapse">
						<div class="panel-body">
							{{#if chemicals.count}}
								{{#each chemicals.items}}
									{{> chemical}}
								{{/each}}
							{{else}}
								There are no chemicals recorded.
							{{/if}}
						</div>
					  </div>
					</div>
					<div class="panel panel-default">
						  <div class="panel-heading">
							<h4 class="panel-title">
							  <a data-toggle="collapse" data-parent="#accordion11" href="#collapse115">Biological</a>
							</h4>
						  </div>
						  <div id="collapse115" class="panel-collapse collapse">
							<div class="panel-body">
								{{#if biologicals.count}}
									{{#each biologicals.items}}
										{{> biological}}
									{{/each}}
								{{else}}
									There are no biologicals recorded.
								{{/if}}
							</div>
						  </div>
						</div>
					<div class="panel panel-default">
						  <div class="panel-heading">
							<h4 class="panel-title">
							  <a data-toggle="collapse" data-parent="#accordion11" href="#collapse116">Physical</a>
							</h4>
						  </div>
						  <div id="collapse116" class="panel-collapse collapse">
							<div class="panel-body">
								{{#if physicals.count}}
									{{#each physicals.items}}
										{{> physical}}
									{{/each}}
								{{else}}
									There is no physical data recorded.
								{{/if}}
						  </div>
						</div>
				</div>
			</div>
		
</div>
</div>
</template>


<template name="physical">
	
		<h2>Physical Info</h2>
				<h4> for project <a href="/project/{{this.projectId}}">{{projectName this.projectId}}  </a> <br> submitted by {{this.owner}}</h4>


		<table class="table table-bordered table-condensed" >
			<thead>
				<h5>Attribute</h5>
				<tr>
					<td>Name</td>
					<td>Value</td>
					<td>Unit</td>
				</tr>
			</thead>
			<tbody>			
			{{#each this.attribute}}		
				<tr>		
					<td>{{name}}</td>
					<td>{{value}}</td>
					<td>{{units}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		<table class="table table-bordered table-condensed" >
			<thead>
				<h5>Collection Technique</h5>
				<tr>
					<td>Instrument</td>
					<td>Technique</td>
					<td>Calibration</td>
					<td>Information</td>
				</tr>
			</thead>
			<tbody>			
			{{#each this.CollectionTechnique}}
				<tr>		
					<td>{{Instrument}}</td>
					<td>{{Technique}}</td>
					<td>{{Calibration}}</td>
					<td>{{Information}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>

</template>
<template name="biological">
	
		<h2>Biological Info</h2>
				<h4> for project <a href="/project/{{this.projectId}}">{{projectName this.projectId}}  </a> <br> submitted by {{this.owner}}</h4>


		<table class="table table-bordered table-condensed" >
			<thead>
				<h5>Organism</h5>
				<tr>
					<td>Name</td>
					<td>Value</td>
					<td>Unit</td>
				</tr>
			</thead>
			<tbody>			
			{{#each this.organism}}		
				<tr>		
					<td>{{name}}</td>
					<td>{{value}}</td>
					<td>{{units}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		<table class="table table-bordered table-condensed" >
			<thead>
				<h5>Collection Technique</h5>
				<tr>
					<td>Instrument</td>
					<td>Technique</td>
					<td>Calibration</td>
					<td>Information</td>
				</tr>
			</thead>
			<tbody>			
			{{#each this.CollectionTechnique}}
				<tr>		
					<td>{{Instrument}}</td>
					<td>{{Technique}}</td>
					<td>{{Calibration}}</td>
					<td>{{Information}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>

</template>
<template name="chemical">
	
		<h2>Chemical Info</h2>
				<h4> for project <a href="/project/{{this.projectId}}">{{projectName this.projectId}}  </a> <br> submitted by {{this.owner}}</h4>


		<table class="table table-bordered table-condensed" >
			<thead>
				<h5>Chemical</h5>
				<tr>
					<td>Name</td>
					<td>Value</td>
					<td>Unit</td>
				</tr>
			</thead>
			<tbody>			
			{{#each this.chemical}}		
				<tr>		
					<td>{{name}}</td>
					<td>{{value}}</td>
					<td>{{unit}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		<table class="table table-bordered table-condensed" >
			<thead>
				<h5>Collection Technique</h5>
				<tr>
					<td>Instrument</td>
					<td>Technique</td>
					<td>Calibration</td>
					<td>Information</td>
				</tr>
			</thead>
			<tbody>			
			{{#each this.CollectionTechnique}}
				<tr>		
					<td>{{Instrument}}</td>
					<td>{{Technique}}</td>
					<td>{{Calibration}}</td>
					<td>{{Information}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>

</template>

<template name="weather">
	
		<h2>Weather Info</h2>
				<h4> for <a href="/project/{{this.projectId}}">{{projectName this.projectId}}  </a> <br> submitted by {{this.owner}}</h4>
		
		<table class="table table-bordered table-condensed ">
			<thead>
				<tr>
					<td>Conditions</td>
					<td>rain</td>
					<td>duration</td>
					<td>ambientTemperature</td>
				  </tr>
			</thead>
			<tbody>
				<tr>
					<td>{{this.sky}}</td>
					<td>{{this.rain}}</td>
					<td>{{this.duration}}</td>
					<td>{{ambientTemperature}}</td>
					
				</tr>
			</tbody>
		</table>
</template>

<template name="water">
	
		<h2>Water Info</h2>
		<h4> for <a href="/project/{{this.projectId}}">{{projectName this.projectId}}  </a> <br> submitted by {{this.owner}}</h4>
		
		<table class="table table-bordered table-condensed ">
			<thead>
				<tr>
					<td>FlowOrWaterLevel</td>
					<td>Clarity</td>
					<td>Color</td>
					<td>Surface</td>
					<td>Odor</td>
					<td>Trash</td>
					<td>Other</td>
				  </tr>
			</thead>
			<tbody>
				<tr>
					<td>{{this.FlowOrWaterLevel}}</td>
					<td>{{this.Clarity}}</td>
					<td>{{this.Color}}</td>
					<td>{{this.Surface}}</td>
					<td>{{this.Odor}}</td>
					<td>{{this.Trash}}</td>
					<td>{{this.Other}}</td>
				</tr>
			</tbody>
		</table>
</template>


<template name="teamm">
	
		<h2>Team Info</h2>
				<h3> submitted by {{owner}} <br> to <a href="/project/{{this.projectId}}">{{projectName this.projectId}}</a></h3>

		<table class="table table-bordered table-condensed ">
			<thead>
				<tr>
					<td>Group Name</td>
					<td>Leader Name</td>
					<td>Leader Profession</td>
		
				  </tr>
			</thead>
			<tbody>
				<tr>
					<td>{{this.Name}}</td>
					<td>{{this.LeaderName}}</td>
					<td>{{this.LeaderProfession}}</td>
				
				</tr>
			</tbody>
		</table>
<table class="table table-bordered table-condensed" >
			<thead>
				<tr>
					<td>Member Name</td>
					<td>Member Profession</td>
				</tr>
			</thead>
			<tbody>			
			{{#each this.Members}}		
				<tr>		
					<td>{{name}}</td>
					<td>{{profession}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
</template>


