<template name="team">
  <!-- Team Section -->
<section id="team" class="bg-light-gray">
  <!-- previous contributors -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Contributors </h2>
                <h3 class="section-subheading text-muted">Current contributors.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://api.adorable.io/avatars/220/z" class="img-responsive img-circle" alt="">
                    <h4>Lisa Adams</h4>
                    <p class="text-muted">Project Leader</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://api.adorable.io/avatars/220/x" class="img-responsive img-circle" alt="">
                    <h4>Salim Dabdoub</h4>
                    <p class="text-muted">Software Engineer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://api.adorable.io/avatars/220/g" class="img-responsive img-circle" alt="">
                    <h4>John Mwaniki</h4>
                    <p class="text-muted">Software Engineer</p>
                    <ul class="list-inline social-buttons">
                      <li><a href="https://www.github.com/jmwaniki" target="_blank"><i class="fa fa-github"></i></a>
                      </li>

                        <li><a href="http://www.johnmwaniki.com" target="_blank"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- previous contributors -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">Past contributors.</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
              <div class="team-member">
                  <img src="https://api.adorable.io/avatars/220/f" class="img-responsive img-circle" alt="">
                  <h4>Saleh Hamedeh</h4>
                  <p class="text-muted">Software Engineer</p>
                  <ul class="list-inline social-buttons">
                      <li><a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://api.adorable.io/avatars/220/d" class="img-responsive img-circle" alt="">
                    <h4>Jory Folker</h4>
                    <p class="text-muted"></p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://api.adorable.io/avatars/220/c" class="img-responsive img-circle" alt="">
                    <h4>Danielle Adams</h4>
                    <p class="text-muted">Graphic Designer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://api.adorable.io/avatars/220/e" class="img-responsive img-circle" alt="">
                    <h4>Evan Cahill</h4>
                    <p class="text-muted">Software Engineer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</template>
