<template name="team">
  <div class="row">
  <div class="container"><br/>
      <h1>The Team<br/><small> <a href='/contact'>Contact Us</a></small></h1><br/>
   </div>
    <hr class="featurette-divider"><br/>
   <div class="container">
    <div class="col-md-4 col-sm-4 text-center">
      <img alt="180x180" data-src="holder.js/180x180" class="img-circle" style="width: 180px; height: 180px;" src="https://s3.amazonaws.com/salim.meteor.com/site/ladams.jpg">
      <h3>Lisa Adams</h3>
      <p class="text-muted">Project Leader</p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
          <img alt="180x180" data-src="holder.js/180x180" class="img-circle" style="width: 180px; height: 180px;" src="https://s3.amazonaws.com/salim.meteor.com/site/salehhamadeh_square.jpg">
      <h3>Saleh Hamedeh</h3>
      <p class="text-muted">Software Engineer</p>
    </div>
      <div class="col-md-4 col-sm-4 text-center">
        <img alt="180x180" data-src="holder.js/180x180" class="img-circle" style="width: 180px; height: 180px;" src="https://s3.amazonaws.com/salim.meteor.com/site/dadams_square.jpg">
        <h3>Danielle Adams</h3>
        <p class="text-muted">Graphic Designer<br/></p>
</div>
  </div>
  </div>
<div class="container">
<div class="row">
	    <div class="col-md-4 col-sm-4 text-center">
        <img alt="180x180" data-src="holder.js/180x180" class="img-circle" style="width: 180px; height: 180px;" src="https://s3.amazonaws.com/salim.meteor.com/site/Ereddia_headshot.jpg">
        <h3>Danielle Ereddia</h3>
        <p class="text-muted">Biology Education<br/></p>
</div>
    <div class="container"><br/>
      <div class="col-md-4 col-sm-4 text-center">
        <img alt="180x180" data-src="holder.js/180x180" class="img-circle" style="width: 180px; height: 180px;" src="https://s3.amazonaws.com/salim.meteor.com/site/turtle.jpg">
        <h3>Jory Folker, Evan Cahill, Salim Dabdoub</h3>
        <p class="text-muted">Computing for Good Team<br/></p>
      </div>
	 </div>
  </div>
  </div>
</template>
