<template name="images">
 <div class="container"><br/>
  <h2>Image Files</h2>

{{#if isProjectAuthor}}
  <div class="well imageDropArea">
	<p>Add more images here</p>
    <input type="file" multiple class="images">
  </div>
{{/if}}

  <div class="imageArea clearfix">
	<p>More images from this project..</p>
    {{#each imagesByProject}}
    {{> uploadedImage}}
    {{/each}}
  </div>
</div>
</template>

<template name="uploadedImage">
  <div class="media well pull-left">
    <a href="{{this.url}}" target="_blank" class="pull-left"><img src="{{this.url store='thumbnails'}}" alt="" class="img-rounded"></a>
    <div class="media-body">
      <h4 class="media-heading">{{this.name}}</h4>
      <p><em>Original size: {{this.formattedSize}}<br>Thumbnail size: {{this.formattedSize store="thumbnails"}}<br>Type: {{this.type store="images"}}<br>Project: <a href="/project/{{this.projectId}}">{{projectName this.projectId}}</a><br></em></p>
      {{#if this.isUploaded}}
      {{#if this.hasStored 'images'}}
      {{#with this.url download=true}}
      <a href="{{this}}" class="btn btn-default btn-xs" role="button">Download</a>
      {{/with}}
      {{else}}
      Storing...
      {{/if}}
      {{else}}
      Uploading: {{this.uploadProgress}}%
      <p>{{> FS.UploadProgressBar}}</p>
      {{/if}}
      {{> FS.DeleteButton class="btn btn-danger btn-xs"}}
    </div>
  </div>
</template>
