<template name="project">
  <div id="project">
    <div class="container">
      <h1>{{title}} <button type="button" class="btn btn-default btn-xs followProject"> Follow </button> </h1> 
      <p class="lead text-muted">created by {{owner}} on {{formatDate date_created "long"}}</p>
    {{description}}<br/>
    </div>
    <hr/>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="col-md-12">
          {{> projectmap this}}
          </div>
 <div class="row">	
<div class="container">	
{{#if isProjectOwner}}
        <div class="col-md-5">
	<form role="form" class="form-addauthor">
	<input id="author" type="text" name="author" placeholder="Add Authors here"/><br/>
	<button class="btn btn-default btn-xs" type="submit">Add author</button>	
	</form>
	</div>
	
{{/if}}

</div>
</div>
          <div class="col-md-12">
            <span class="label label-info">Primary Tag</span>
            <button type="button" class="btn btn-default btn-xs primary-tag" data-toggle="tooltip" title="Main Classification. Visit /tags for more information on this tag.">{{maintag}}</button>
          </div>
          <hr />

        </div>
      <hr/>
      <div class="col-md-12">
        <form role="form" class="form-addcomment">
        	<input id="project-comment" type="text" autofocus="" required placeholder="Enter your comment" class="form-control input-lg input-block"/><br/>
         	<button type="submit" class="btn btn-default btn-md btn-block">submit</button>
        </form><br/>
        {{#each comments}}
            <div class="well well-xs comment">
                <div class="row">
                    <div class="col-md-2"><img src="{{avatarUrl}}" class="img-circle" alt="Avatar"/>
<br/>
               	    <span class="comment-author">{{author}}<br/><small> posted {{posted_timeago}}</small></span>
</div>
               	    <div class="col-md-10 comment-data">
		    <span class="comment-body"><h3>{{body}}</h3></span>
			{{#if isCommentOwner}}

<!--remove-->
<!-- edit-->
<div  class="btn-group">
                  <button class="btn btn-default btn-xs edit" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
<div id = editCommentform style="display: none">
<br/><br/>
     <form role="form" class="form-editcomment">
        	<input id="project-edit" type="text" required placeholder="Edit your comment" class="form-control input-sm input-block" value="{{body}}"/>
<button class="btn btn-default btn-sm btn-block" type="submit">submit edit</button>		
        </form>         
</div>
<!--remove-->
 <br/> 
	<button class="btn btn-danger btn-xs remove" type="button"><span class="glyphicon glyphicon-remove"></span></button>
		<br/>
                </div>
			{{/if}}
	
               	    
               	    </div>
               	</div>
     	    </div>
     	{{/each}}
      </div>
      </div> <!-- /row-->
    </div> <!-- /container -->
  </div><!-- /project -->

</template>

<template name="projectTags">
  <div class="project-tags">
  <span class="label label-info">More Tags</span>
    {{#each tags}}
      {{#if tagSelected}}
        <button type="button" class="btn btn-default btn-xs tag-name btn-success" data-tier="{{tier}}" data-toggle="tooltip" title="{{excerpt}}">{{name}}</button>
      {{else}}
        <button type="button" class="btn btn-default btn-xs tag-name" data-tier="{{tier}}" data-toggle="tooltip" title="{{excerpt}}">{{name}}</button>
      {{/if}}
    {{/each}}
  </div> <!-- button group -->
</template> 
