<template name="attachments">
 <div class="container"><br/>
  <h2>Attachments</h2>

{{#if isProjectAuthor}}
  <div class="well attachmentDropArea">
	<p>Add more attachments here</p>
    <input type="file" multiple class="attachments">
  </div>
{{/if}}

  <div class="attachmentArea clearfix">
	<p>More attachments from this project..</p>
    {{#each attachmentsByProject}}
    {{> uploadedAttachment}}
    {{/each}}
  </div>
</div>
</template>

<template name="uploadedAttachment">
  <div class="media well pull-left">
    <div class="media-body">
      <h4 class="media-heading">{{this.name}}</h4>
      <p><em>Original size: {{this.formattedSize}}<br>Type: {{this.type store="files"}}<br>Project: <a href="/project/{{this.projectId}}">{{projectName this.projectId}}</a><br></em></p>
      {{#if this.isUploaded}}
      {{#if this.hasStored 'files'}}
      {{#with this.url download=true}}
      <a href="{{this}}" class="btn btn-default btn-xs" role="button">Download</a>
      {{/with}}
      {{else}}
      Storing...
      {{/if}}
      {{else}}
      Uploading: {{this.uploadProgress}}%
      <p>{{> FS.UploadProgressBar}}</p>
      {{/if}}
      {{> FS.DeleteButton class="btn btn-danger btn-xs"}}
    </div>
  </div>
</template>
